<!DOCTYPE html>
    <html>
        
        <head>
            <meta charset = "uft-8">
            <title> Work in progress</title>
            <link rel = "stylesheet" href = "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        </head>
        
        <body>
            
            {%include '/includes/_navbar.html'%}
            {%include 'includes/_messages.html'%}
    <div class = "container">
 
      {%block body%}
      
      {%endblock%}
    </div>
        <script src = "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
            </body>
    
    </html>

